#root{
    display: flex;
    justify-content: center;
}

.post{
    display: block;
    padding: 0.25rem;
    margin: 0rem;
    width: 600px;
}

.navbar {
    background-color: #000;
}

.sidebar {
    position: relative;
    min-height: 100vh;
    padding: 0.5rem;
    align-items: center;
}

#sidebar-wrapper{
    align-items: center;
    min-height: 100vh;
    width: 10vw;
    margin-left: -0.75rem;
}

.page__wrapper{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.side-content{
    border: orange 2px;
    border-style: solid;
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem;
}

.logo{
    width: 125px;
}