#root{
    display: flex;
    justify-content: center;
}

.post{
    display: block;
    padding: 0.25rem;
    margin: 0rem;
    width: 600px;
}


.navbar {
    background-color: #000;
}

.sidebar {
    position: relative;
    min-height: 100vh;
    padding: 0.5rem;
    align-items: center;
}

#sidebar-wrapper{
    align-items: center;
    min-height: 100vh;
    width: 10vw;
    margin-left: -0.75rem;
}

.page__wrapper{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.side-content{
    border: orange 2px;
    border-style: solid;
    margin-top: 1rem;
    text-align: center;
    padding: 0rem;
    
}

.logo{
    width: 125px;
}

.card-text{
    margin: 0.5rem;
}

.clickable-title{
    margin:0.5rem;
}


.clickable-title:hover{
    color: rgb(117, 117, 247);
    cursor: pointer;
}

.side-title{
    background-color: rgb(250, 192, 85);
    color: #000;
}

.material-symbols-outlined{
    size: rem;
    margin-left: 0.5rem;
}

.material-symbols-outlined:hover{
    cursor: pointer;
    color:rgb(8, 110, 27)
}

.expand-less:hover{
    cursor: pointer;
    color: rgb(159, 20, 15);
}

.votes{
    margin-left: 0.5rem;
}

.profile-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.card-body{
    padding: 0;
    background-color: #222831;
}

.profile-card{
    background-color: #000;
    margin: 1rem;
}
